body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0;
  color: $default;
  background-color: $wh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1150px;
}

.title {
  position: relative;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: $title;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 50px;
    height: 12px;
    background-image: url("../images/frame.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  @include r(500) {
    font-size: 25px;
  }
}

.description {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 730px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;

  @include r(550) {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.hide {
  display: none;
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    border: 0;
  }
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

