body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0;
  color: $default;
  background-color: $wh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1150px;
}

.title {
  position: relative;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: $title;

  @include r(500){
    font-size: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    margin: 0 auto;
    width: 30px;
    height: 1px;
    background: $title;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: $title;
  }
}

.hr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  margin: 0 auto;
  width: 1px;
  height: 10px;
  border: none;
  background: $title;
}

.description {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 730px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;

  @include r(550) {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.hide {
  display: none;
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    border: 0;
  }
}
