.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: $wh;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__items {
      display: flex;
    }

    &__item {
      margin-right: 30px;
      font-weight: 600;
    }

    &__item-link {
      position: relative;
      display: block;
      padding: 42px 0;
      color: $title;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $bl;
        transition: width 0.3s linear;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &--active {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $bl;
      }
    }
  }
}